<md-toolbar class="md-primary">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">About Laika</h2>
  </div>
</md-toolbar>

<h3>What is Lakia?</h3>
<p>Lakia is a user friendly interface that allows a person to view,
  create, or destroy their Linode VPS's with ease.
</p>
<h3>Why we built Laika?</h3>
<p>We wanted to give developers an easy way to manage their virtual
private servers. Instead of the user using the interface on Linode.com, they
are able to quickly carry out functionality with this web app. For users that
are new to using VPS's, we want to make it simple for developers getting
started with Virtual Private Servers by allowing them to start a VPS we have
configured for them.</p>
<h3>What's up with the Name and Space theme?</h3>
<p>We thought it would be cool to give our app a space theme. Galaxies make up
the Universe, Galaxies are made up of stars, and stars sometimes have planets.
The Internet has datacenters and these datacenters have servers, in which these
servers may contain applications on them. In short, we think refering to our
a virtual private server, simply a VPS, we thought to call them stars was better.
And it went on from there!!!!! BTW, Lakia, our mascot was the first dog in space.</p>
