<!-- <p>This is the about view.</p>
<h1> FUCJ HTHSDHGSDHDHAG</h1>
 -->

<!-- <div ng-model="apikey">
</div> -->
<div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="datacenter in datacent" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Data Center Location: {{datacenter}}</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <div></div>
            </div>
          </md-card-title-media>
        </md-card-title>

    </div>
  </md-content>
</div>
