<div>

	<label>Key</label>
	<input type="text" name="userName" ng-model="test.key"	>
	{{test.key}}
	<pre>
		{{test.linode.displayResponse()}}
	</pre>
	<!-- <button ng-click="test.get('account.info', '')">Account Information</button> -->
	<md-button class="md-primary md-raised" ng-click="test.linode.accountInfo()">Save Key</md-button>

<div layout="column" ng-cloak>
	<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">My Account Details</h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>

		<h2> Active Since </h2>
    <p>You have been Active Since: {{account.niceDate(accountDATA.ACTIVE_SINCE)}}</p>

  	<h2>Billing Method</h2>
		<p>Billing Method is: {{accountDATA.BILLING_METHOD}}</p>

		<h2>Balance</h2>
		<p>Remaining Balance for your Account is: ${{balance()}}</p>

  </md-content>

</div>
</div>
