<div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">

    <!--
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
  -->

      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">My Stars (VPS's)</h2>
        </div>
      </md-toolbar>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="star in list">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">LINODEID: {{star.LINODEID}}</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <div class="reducedText">
                <p><strong>Created</strong>: {{main.niceDate(star.CREATE_DT)}}</p>
                <p><strong>DIST VENDR</strong>:  {{star.DISTRIBUTIONVENDOR}}</p>
                <p><strong>Data Center</strong>: {{linode.getDataCenter(star.DATACENTERID)}}</p>
                <p><strong>Status</strong>: {{linode.status(star.STATUS)}}</p>
                <p><strong>RAM</strong>:  {{star.TOTALRAM}}G</p>
                <p><strong>HD</strong>: {{star.TOTALHD}}G</p>
              </div>
            </div>
          </md-card-title-media>
        </md-card-title>

        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-click="showPrompt($event, star.LINODEID)"  >
            Clone
          </md-button>
          <md-button style="background: red; border-radius: 5px;" ng-click="linode.deleteNode(star.LINODEID)">DELETE</md-button>
        </md-card-actions>
      </md-card>
      

    </div>
  </md-content>
</div>

<!--
<pre>
  {{res}}
</pre>
-->
