<div>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">

    <!--
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Large</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
  -->

      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">My Stars (VPS's)</h2>
        </div>
      </md-toolbar>

      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="star in list">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">LINODEID: {{star.LINODEID}}</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <div>Created: {{star.CREATE_DT}}</div>
              <div>DIST VENDR:  {{star.DISTRIBUTIONVENDOR}}</div>
              <div>Data Center: {{linode.getDataCenter(star.DATACENTERID)}}</div>
              <div>Status: {{linode.status(star.STATUS)}}</div>
              <div>RAM:  {{star.TOTALRAM}}G</div>
              <div>HD: {{star.TOTALHD}}G</div>
            </div>
          </md-card-title-media>
        </md-card-title>

        <!--
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      -->

    </div>
  </md-content>
</div>

<!--
<pre>
  {{res}}
</pre>
-->
