<!-- <p>This is the about view.</p>
<h1> FUCJ HTHSDHGSDHDHAG</h1>
 -->

<!-- <div ng-model="apikey">
</div> -->
<div>

  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Available Galaxies (Datacenters)</h2>
    </div>
  </md-toolbar>
  <p>Nebulas are nurseries where stars are born. Experience the magic of having a Nebula birth your star in a galaxy.</p>
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xl flex-gt-xl="50" layout="column">

      <md-card ng-repeat="(id, datacenter) in datacent" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Data Center Location: {{datacenter}}</span>
            <span class="md-subhead"></span>
            <p>Latest LTS version of:</p>
            <img src="images/ubuntu_orange_hex_su.png">
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <div></div>
            </div>
          </md-card-title-media>
          <md-button class="md-primary md-raised" ng-click="linode.create(id, 1)"  >
 +            Create
 +        </md-button>
        </md-card-title>
      </md-card>

    </div>
  </md-content>
</div>
